/* Navbar Styles */


.add-volunteer-container {
  padding: 20px 20px 20px; /* Adds padding to the top to avoid overlap with the navbar */
  width: 100%;
  margin: 0 auto;
  
}

/* Search Bar Styles */
.search-bar {
  padding: 10px;
  margin-bottom: 20px;
  width: calc(100% - 20px);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Table Styles */
.volunteer-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.volunteer-table th, .volunteer-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.volunteer-table th {
  background-color: #6b0c59;
  color: white;
}

.volunteer-table select,
.volunteer-table input[type="number"], 
.volunteer-table input[type="text"], 
.volunteer-table input[type="date"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.volunteer-table button {
  background-color: #258178;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.volunteer-table button:hover {
  background-color: #45a049;
}

.team-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.team-buttons button {
  padding: 10px 15px;
  background-color: #cb3679;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.team-buttons button:hover {
  background-color: #8e0a73;
}

.team-buttons button:last-child {
  background-color: #772581;
}

.team-buttons button:last-child:hover {
  background-color: #45a049;
}
