.login_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../nycimg5.jpg'); /* 背景图片路径 */
    background-size: cover;
    background-position: center;
}


.login_form {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* 半透明白色背景 */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.login_form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* 黑色字体 */
}

.login_form img {
    width: 100px; /* 调整 Logo 大小 */
    margin-bottom: 20px;
}
.login_form input {
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login_form button {
    width: 90%;
    padding: 10px;
    background-color: #4d48a4;
    color: white;
    border: none;
    cursor: pointer;
}
.error_message {
    color: rgb(213, 47, 47);
    margin-top: 10px;
}